Private
vbl
IOZ

apps/*
!apps/Placeholder

configs/Default.rdp
configs/Default.task.config.xml

logs/Powershell*

modules/*
!modules/Pscx
!modules/PsGet

GroupPermissionReports.csv
New-Release.ps1
Microsoft.PowerShell_profile.ps1
Microsoft.PowerShellISE_profile.ps1