<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<Content>

	<Metadata>
		<Title>Profile Installation Config File</Title>
		<Filename>config.xml</Filename>
		<Description></Description>
		<Tags>powershell, configuration, installation</Tags>
		<Project></Project>
		<Author>Janik von Rotz</Author>
		<AuthorE-Mail>contact@janikvonrotz.ch</AuthorE-Mail>
		<CreateDate>07.01.2013</CreateDate>
		<LastEditDate>06.03.2013</LastEditDate>
		<Version>1.1.2</Version>
	</Metadata>

	<Configuration>

		<!--
		 # List of SystemVariables
		-->	
		<SystemVariables>
			<SystemVariable>
				<Value>\Modules</Value>
				<Name>PSModulePath</Name>
				<RelativePath>true</RelativePath>
				<Target>Machine</Target>
			</SystemVariable>
			<SystemVariable>
				<Value>\Functions</Value>
				<Name>Path</Name>
				<RelativePath>true</RelativePath>
				<Target>Machine</Target>
			</SystemVariable>
			<SystemVariable>
				<Value>H:\SkyDrive\Shared\Apps\SysInternals</Value>
				<Name>Path</Name>
				<RelativePath>false</RelativePath>
				<Target>Machine</Target>
			</SystemVariable>
		</SystemVariables>
		
		<!--
		 # Explorer Settings
		-->
		<RegistryEntries>	
			<RegistryEntry>
				<Path>HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced</Path>
				<Name>HideFileExt</Name>
				<Value>0</Value>
			</RegistryEntry>		
			<RegistryEntry>
				<Path>HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\Search\PrimaryProperties\UnindexedLocations</Path>
				<Name>SearchOnly</Name>
				<Value>00000000</Value>
			</RegistryEntry>
		</RegistryEntries>
		
	</Configuration>

</Content>