<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<Content>

	<Metadata>
		<Title>Profile Installation Config File</Title>
		<Filename>config.xml</Filename>
		<Description></Description>
		<Tags>powershell, configuration, installation</Tags>
		<Project></Project>
		<Author>Janik von Rotz</Author>
		<AuthorE-Mail>contact@janikvonrotz.ch</AuthorE-Mail>
		<CreateDate>2013-01-07</CreateDate>
		<LastEditDate>2013-03-18</LastEditDate>
		<Version>1.1.3</Version>
	</Metadata>

	<Configuration>

		<!--
		# List of SystemVariables
		-->	
		<SystemVariables>

			<SystemVariable>
				<Value>\Functions</Value>
				<Name>Path</Name>
				<RelativePath>true</RelativePath>
				<Target>Machine</Target>
			</SystemVariable>
			
			<SystemVariable>
				<Value>\Apps\Git\cmd</Value>
				<Name>Path</Name>
				<RelativePath>true</RelativePath>
				<Target>Machine</Target>
			</SystemVariable>
			
			<SystemVariable>
				<Value>\Apps\Git\bin</Value>
				<Name>Path</Name>
				<RelativePath>true</RelativePath>
				<Target>Machine</Target>
			</SystemVariable>
			
			<SystemVariable>
				<Value>H:\SkyDrive\Shared\Apps\SysInternals</Value>
				<Name>Path</Name>
				<RelativePath>false</RelativePath>
				<Target>Machine</Target>
			</SystemVariable>
			
			<SystemVariable>
				<Value>H:\SkyDrive\Shared\Apps\SysInternals</Value>
				<Name>Path</Name>
				<RelativePath>false</RelativePath>
				<Target>Machine</Target>
			</SystemVariable>
			
		</SystemVariables>
		
		<!--
		# Feature Install Settings
		 
		# To enable a feature change <Install> content to "Enable"
		-->
		<Features>
		
			<Feature>
				<Name>Git Update Task</Name>
				<Install>Disable</Install>
			</Feature>		

		</Features>
		
		<!--
		 # Explorer Settings
		-->
		<RegistryEntries>	
			<RegistryEntry>
				<Path>HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced</Path>
				<Name>HideFileExt</Name>
				<Value>0</Value>
			</RegistryEntry>		
			<RegistryEntry>
				<Path>HKCU:\Software\Microsoft\Windows\CurrentVersion\Explorer\Search\PrimaryProperties\UnindexedLocations</Path>
				<Name>SearchOnly</Name>
				<Value>00000000</Value>
			</RegistryEntry>
		</RegistryEntries>
		
	</Configuration>

</Content>